.login{
  background-color: #e42a74;
  border-radius: 1em 0 1em 0;
  border: 1px solid #e07ba4;
  text-align: center;
}
.login:hover{
  background-color: #e07ba4;
}
.register{
  background-color: #e42a74;
  border-radius: 1em 0 1em 0;
  border: 1px solid #e07ba4;
  text-align: center;
}
.register:hover{
  background-color: #e2a0bb;
  
}