@font-face {
  font-family: FreeLine;
  src: url('../public/FreeLine.ttf') format('truetype');
}
.marca ,.marca:visited, .marca:active .marca:hover{
  font-family: FreeLine;
  font-size: xx-large;
  color: #d9f701;
  text-decoration: none;
}
.active{
  background-color: #d9f701 !important;
  color: black !important;
  font-weight: 700 !important;
}
.login{
  
  /* background-color: #e42a7491; */
  border-radius: .7em 0 .7em 0;
  border: 4px double #d9f701;
  text-align: center;
  font-weight: 700;
}
.login:hover{
  background-color: #d9f701;
}
.register{
  
  /* background-color: #e42a7491; */
  border-radius: .7em 0 .7em 0;
  border: .3em double #d9f701;
  text-align: center;
  font-weight: 700;
 
}
.register:hover{
  background-color: #d9f701;
  color: black;
}
.focus:hover{
  color: black;
}
.card:hover{
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  
}
.product-img{
  width: auto;
  transition: all .5s;
}
.product-img:hover{
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  transform: scale(1.03);
}
label{ 
  color:grey;
}
input[type = "radio"]{
   display:none;
  }
.lbl:hover{
  color:rgb(0, 255, 76);
}
.lbl:hover ~ label{
  color:rgb(0, 255, 76);
}
input[type = "radio"]:checked ~ label{
  color:rgb(0, 255, 76);
}

.clasificacion{
  direction: rtl;/* right to left */
      /* unicode-bidi: bidi-override; */
  display: flex;
  justify-content: end;
}
