@font-face {
  font-family: FreeLine;
  src: url('../public/FreeLine.ttf') format('truetype');
}
.marca{
  font-family: FreeLine;
  color: #d9f701;
}

.login{
  
  /* background-color: #e42a7491; */
  border-radius: .7em 0 .7em 0;
  border: 4px double #d9f701;
  text-align: center;
  font-weight: 700;
}
.login:hover{
  background-color: #d9f701;
}
.register{
  
  /* background-color: #e42a7491; */
  border-radius: .7em 0 .7em 0;
  border: .3em double #d9f701;
  text-align: center;
  font-weight: 700;
 
}
.register:hover{
  background-color: #d9f701;
  color: black;
}
.focus:hover{
  color: black;
}

